@using SocialNetwork.Core.Application.ViewModels.Auth
@using SocialNetwork.Core.Application.Helpers
@inject IHttpContextAccessor httpContext;
@{
    UserViewModel User = httpContext.HttpContext.Session.Get<UserViewModel>("user");
}
@{
    bool homePage = false, friendPage = false;

    switch (ViewBag.Page)
    {
        case "home":
            {
                homePage = true;
                break;
            }
        case "friend":
            {
                friendPage = true;
                break;
            }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialNetwork.Presentation.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SocialNetwork.Presentation.WebApp.styles.css" asp-append-version="true" />
    @if(User != null){<link rel="stylesheet" href="~/css/layout-style.css" asp-append-version="true" />}
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.min.css" asp-append-version="true" />
</head>
<body>
    @if (User != null)
    {
        <div class="sidebar">
            <div class="logo-details">
                <div class="logo_name">👨🏻‍🚀 Social Network</div>
                <i class='bx bx-menu' id="btn"></i>
            </div>

            <li>
                <i class='bx bx-search'></i>
                <input type="text" placeholder="Search...">
                <span class="custom-tooltip">Search</span>
            </li>
            <li>
                <a asp-controller="Home" asp-action="Index" class="@(homePage ? "bg-light" : "" )">
                    <i class='bx bx-home-alt @(homePage ? "text-dark" : "" )'></i>
                    <span class="links_name @(homePage ? "text-dark" : "" )">Home</span>
                </a>
                <span class="custom-tooltip">Home</span>
            </li>
            <li>
                <a asp-controller="AdminFriends" asp-action="Index" class="@(friendPage ? "bg-light" : "" )">
                    <i class='bx bxs-group @(friendPage ? "text-dark" : "" )'></i>
                    <span class="links_name @(friendPage ? "text-dark" : "" )">Friends</span>
                </a>
                <span class="custom-tooltip">Friends</span>
            </li>
            <li class="profile">
                <span class="custom-tooltip">Search</span>
                <div class="profile-details">
                    <img src="@User.ProfileImage" alt="profileImg">
                    <div class="name_job">
                        <div class="name"><small>@User.Name @User.LastName</small></div>
                        <div class="job">👨🏻‍🚀 @@@User.Username</div>
                    </div>
                </div>
                <a asp-controller="User" asp-action="Logout"><i class='bx bx-log-out' id="log_out"></i></a>
            </li>
        </div>
    }

    <section class="home-section">
        <main role="main" class="container">
            @RenderBody()
        </main>
    </section>

    <footer class="border-top footer text-white bg-dark text-center">
        <div class="container text-center">
            &copy; @DateTime.Now.Year Social Network App - Designed with 💙 by Frainer Alexander
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layoutScript.js" asp-append-version="true"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
