@using SocialNetwork.Core.Application.ViewModels.Post
@model SavePostViewModel
@using SocialNetwork.Core.Application.ViewModels.Auth
@using SocialNetwork.Core.Application.Helpers
@inject IHttpContextAccessor httpContext;
@{
    UserViewModel User = httpContext.HttpContext.Session.Get<UserViewModel>("user");
}

@{
    bool editMode = Model.Id == 0 ? false : true;
    if (editMode) { ViewData["Title"] = "Updating Post"; } else { ViewData["Title"] = "Creating Post"; };
}

<main>
    <section class="container">
        <div class="row mx-auto">

            <div class="col-lg-6 col-md-8 mx-auto">

                <div class="col-12 mx-auto card bg-dark text-white mt-5 mb-5" style="border-radius: 1rem;">
                    <div class="card-body">

                        <h2 class="fw-bold mb-3 text-uppercase text-center mt-2">@(editMode ? "Updating a" : "Creating a new") post</h2>
                        <p class="text-white-50 fs-5 mb-5 text-center">Please fill in all the fields below!</p>
                        @Html.ValidationMessage("postVaidation", "",new{@class = "text-danger text-center fw-bold fs-5 mb-3"}, "h4")

                        <form asp-action="@(editMode ? "Edit" : "Create")" asp-controller="AdminPosts" method="POST" EncType="multipart/form-data">

                            <div class="px-3 mt-3">
                                <textarea type="text" class="form-control bg-dark text-white mt-3 @(editMode ? ViewBag.Image ? "border-0" : "border-light" : "border-light")" id="post"
                                          for="Content" name="Content" placeholder="@(ViewBag.Image ? "Write a description..." : "What're you thinking?")" rows="@(ViewBag.Image ? editMode ? "2" : "3" : "4")">@(editMode ? Model.Content : "")</textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>

                            @if(editMode && ViewBag.Image){
                                <div class="text-center mt-2 mb-3 post-image">
                                     <img src="@Model.ImagePath" class="img-fluid" alt="image">
                                </div>
                                <input type="hidden" asp-for="ImagePath"/>
                            }

                            @if(ViewBag.Image)
                            {
                                <div class="p-3 @(editMode ? "mt-1" : "mt-4")">
                                    <label asp-for="ImageFile" class="form-label text-white"><strong>@(editMode ? "Update" : "Add") photography<small class='text-danger'> *</small></strong></label>
                                        <input type="file" class="form-control bg-dark text-white border-white form-control-lg"
                                        asp-for="ImageFile" accept="image/*">
                                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                                </div>
                                <input type="hidden" asp-for="UserId" value="@User.Id"/>
                            }
                            

                            <button class="btn btn-primary btn-lg float-end mt-4" type="submit">
                                @(editMode ? "Update" : "Create")
                            </button>
                            <a class="btn btn-light btn-lg float-end me-2 mt-4" asp-controller="Home" asp-action="Index">Back
                            </a>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>
